/* colors!!! */
/* bluegreen = #074F57
darkgrey = 474448
purple = 56445D
green = A1C181
tan = BFC3BA */

*{
  background-color: #074F57;
  font-family: 'Raleway', sans-serif;
}

.navRoot {
  background-color: #BFC3BA;
  height: 180px;
  border-bottom: 10px solid #56445d;
  display: grid;
  grid-template-columns: 25% 75% a;

}

.navPhoto {
  grid-column: 0/1;
  position: absolute;
  overflow: hidden;
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

#navPhoto {
  flex-shrink: 0;
  width: 200px;
  border: 8px solid #56445d;
  border-radius: 50%;
}

.navBody {

  display: flex;
}

#navName {
  flex: 1;
  background-color: #BFC3BA;
  color: #474448;
  font-size: 50px;
}

#name {
  margin: 14px;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.719);
}
#descript {
  font-size: 25px;
  margin-top: 75px;
  margin-left: 260px;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.719);

}

#navSelector {
  flex: 1;
  background-color: #BFC3BA;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.linkItem {
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.719);
  height: 40px;
  color: #474448;
  text-decoration: none;
  background-color: #BFC3BA;
  font-size: 40px;
  font-style: inherit;
  margin-top: 25px;
  opacity: .8;
}

.linkItem:hover {
 opacity: 1;
}

